doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet")
        script(src="//vjs.zencdn.net/5.19/video.min.js")
    body
        div#instructions
            video#my_video_1.video-js.vjs-default-skin(width="640px" height="267px" controls preload="none"  data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }')
                source(src="http://localhost:4000/video/streaming/?filename=C:/Users/Admin/Desktop/video-stream/video-stream.js/example/movie1.mp4" type='video/mp4')


